docker/flows.json
[{"id":"f6f2187d.f17ca8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"6aa41ff5.5ef7d","type":"sonos-universal","z":"f6f2187d.f17ca8","confignode":"47a976ba.d6dfe8","compatibilityMode":false,"command":"group.play.streamhttp","state":"http://www.orangefreesounds.com/wp-content/uploads/2019/12/Angel-sound-effect.mp3?_=1","stateType":"str","name":"","x":380,"y":420,"wires":[["700db528.3ea4fc"]]},{"id":"3435b8f2.d12108","type":"inject","z":"f6f2187d.f17ca8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":420,"wires":[["6aa41ff5.5ef7d","33cd6ee9.45d4f2"]]},{"id":"b931d681.3d1bc8","type":"hue-bridge-node","z":"f6f2187d.f17ca8","name":"","bridge":"d6e54904.613c08","autoupdates":true,"skipglobalevents":false,"x":150,"y":340,"wires":[[]]},{"id":"7c7503a9.6598fc","type":"hue-tap","z":"f6f2187d.f17ca8","name":"Wohnzimmer Schalter","bridge":"d6e54904.613c08","sensorid":"10","skipevents":false,"universalevents":true,"x":160,"y":580,"wires":[["6aa41ff5.5ef7d","33cd6ee9.45d4f2"]]},{"id":"24fb5f77.95a74","type":"hue-switch","z":"f6f2187d.f17ca8","name":"Küche Schalter","bridge":"d6e54904.613c08","sensorid":"5","skipevents":false,"universalevents":true,"x":140,"y":520,"wires":[["6aa41ff5.5ef7d","33cd6ee9.45d4f2"]]},{"id":"33cd6ee9.45d4f2","type":"debug","z":"f6f2187d.f17ca8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":790,"y":560,"wires":[]},{"id":"700db528.3ea4fc","type":"sonos-universal","z":"f6f2187d.f17ca8","confignode":"47a976ba.d6dfe8","compatibilityMode":false,"command":"group.set.volume","state":"10","stateType":"str","name":"","x":710,"y":420,"wires":[["51a5e420.fc03ac"]]},{"id":"51a5e420.fc03ac","type":"delay","z":"f6f2187d.f17ca8","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":920,"y":420,"wires":[["7d9b6df4.1b5254"]]},{"id":"7d9b6df4.1b5254","type":"sonos-universal","z":"f6f2187d.f17ca8","confignode":"47a976ba.d6dfe8","compatibilityMode":false,"command":"group.set.volume","state":"5","stateType":"str","name":"","x":1170,"y":420,"wires":[[]]},{"id":"840c168a.aa9ce8","type":"discovery","z":"f6f2187d.f17ca8","name":"SonosDiscovery","topic":"","service":"_sonos._tcp","x":220,"y":80,"wires":[["c14395f3.ea0b88"]]},{"id":"968a3a2d.f012a8","type":"announce","z":"f6f2187d.f17ca8","name":"foo%h","service":"_singfrid._tcp","port":"1880","txt":"","x":190,"y":160,"wires":[]},{"id":"91ff9606.cf8f98","type":"castv2-sender","z":"f6f2187d.f17ca8","name":"","spotifyAccessToken":"","spotifyAccessTokenExpiration":"","spotifyDeviceName":"","x":750,"y":140,"wires":[[]]},{"id":"c14395f3.ea0b88","type":"debug","z":"f6f2187d.f17ca8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":480,"y":80,"wires":[]},{"id":"47a976ba.d6dfe8","type":"sonos-config","name":"wohnzimmer","serialnum":"B8-E9-37-39-3A-BA:G","ipaddress":"192.168.178.37"},{"id":"d6e54904.613c08","type":"hue-bridge","name":"Philips hue","bridge":"192.168.178.99","key":"Lf3tzmnpFPLY5ItnGb4Ji72pcci6JmdUxKPupJjg","interval":"3000","disableupdates":false}]